main
{
    max-width: 900px;
    margin: 0 auto;
    padding: 20px 20px;
}

:root
{
    --bg-primary: #132522;
    --bg-secondary: #2a2a2a;
    --text-primary: #ffffff;
    --text-secondary: #b0b0b0;
    --accent: #0a5c52;
    --accent-hover: #0d7a6d;
}

body
{
    background-color: var(--bg-primary);
    color: var(--text-primary);
    font-family: Arial, sans-serif;
    margin: 0;
}

nav
{
    max-width: 900px;
    margin: 0px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

nav a, nav button
{
    border: 2px solid var(--accent);
    padding: 12px 24px;
    border-radius: 12px;
    text-decoration: none;
    color: var(--text-primary);
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    background-color: var(--bg-primary);
}

nav a:hover, nav button:hover
{
    border-color: var(--accent-hover);
    background-color: var(--accent);
}

main h1
{
    text-align: center;
    font-size: 48px;
}

main p
{
    text-align: center;
}

#content-wrapper
{
    border-top: 2px solid var(--accent);
    padding-top: 0;
    padding-bottom: 0;
    transition: padding 0.3s ease;
}

#content-wrapper.expanded
{
    border-bottom: 2px solid var(--accent);
    padding-top: 30px;
    padding-bottom: 30px;
}

.hidden
{
    display: none;
}